

.l_container {
  /* background-color: black; */
  width:15em;
  float:left
}

.container {
  float: right;
}


.my_container {
  background-color: black;
  width:80em;
  margin: 0 auto;
}

.img {
  max-width:50%;
  max-height:50%;
}



body {
  padding: 20px;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

div.wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
}
div.description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	width:100%;
	/* styling bellow */
	background-color:black;
	color:white;
	opacity:0.6; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
	padding:10px;
	margin:0px;
	font-size: 30px;
}








/* dfd */
